<div class="row py-2">
  <div class="col-4">
    <div class="d-flex h-100 count-bg">
        <span class="m-auto count">{{data.points}}</span>
      <!-- <div class="m-auto d-flex flex-column align-items-center pt-2 pb-2">
        <span class="count">{{data.points}}</span>
        <small class="text-muted">Points</small>
      </div> -->
    </div>
  </div>

  <div class="col-8">
    <div class="d-flex justify-content-between">
      <h2>{{data.title}}</h2>
      <span class="text-danger c-pointer" (click)="deleteMe()">Delete</span>
    </div>
    <div class="d-flex">
      <div (click)="upVote()" class="text-primary mr-2 c-pointer">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Upvote
      </div>
      <div (click)="downVote()" class="text-primary c-pointer">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;Downvote
      </div>
    </div>
  </div>
</div>

