<div class="container">
    <app-vote-form (submitted)="voteSubmitted($event)"></app-vote-form>

    <app-vote *ngFor="let item of voting_data"
              [data]="item"
              (up)="process_vote('up', $event)"
              (down)="process_vote('down', $event)"
              (delete)="deleteData($event)"
              ></app-vote>

</div>