<form [formGroup]="voteForm" (ngSubmit)="onSubmit()">
  <label>
    Title
    <input type="text" 
           formControlName="title">
  </label>
  <label>
    Points
    <input type="text" 
           formControlName="points">
  </label>
  
  <button class="btn btn-primary">Submit</button>
</form>